:root {
  --main-title-color: #2e2f42;
  --primary-brand-color: #404bbf;
  --pressed-state-color: #4d5ae5;
  --text-color: #434455;
  --white-color: #ffffff;
  --cloud-light-color: #f4f4fd;
  --border-bottom: #e7e9fc;
  --background-modal: #fcfcfc;
  --modal-grey: rgba(46, 47, 66, 0.4);
  --input-text: #8e8f99;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
  border-radius: 4 px;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--white-color);
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.header {
  height: 72px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-bottom);
}
.header-container {
  display: flex;
}
.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.header-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.haeder-list-contacts {
  display: flex;
  align-items: center;
  gap: 40px;
}

.color-logo {
  color: var(--main-title-color);
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--pressed-state-color);
  margin-right: 76px;
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover,
.header-link:focus {
  color: var(--primary-brand-color);
}
.aktiv-line {
  position: relative;
  color: var(--primary-brand-color);
}
.aktiv-line:after {
  position: absolute;
  content: "";
  display: block;
  background-color: var(--primary-brand-color);
  width: 100%;
  height: 4px;
  bottom: -27px;
  border-radius: 2px;
}

.header-address {
  font-style: normal;
}
.header-address-list {
  font-style: normal;
}
.header-contacts {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts:hover,
.header-contacts:focus {
  color: var(--primary-brand-color);
}

/*------hero-----*/

.hero {
  background-color: var(--main-title-color);
  text-align: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  height: 600px;
  margin: 0 auto;
}

.hero-title {
  width: 496px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  margin: auto;
  margin-bottom: 48px;
  letter-spacing: 0.02em;
  color: var(--white-color);
}
.hero-btn {
  min-width: 169px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  cursor: pointer;
  background-color: var(--pressed-state-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--primary-brand-color);
}

.advantages-hidden {
  color: var(--main-title-color);
}

/*-------portfolio---------*/
.text-box-portf {
  padding: 32px 16px;
  border: 1px solid var(--border-bottom);
  border-top: none;
}
.smol-title-portf {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: var(--main-title-color);
}
.smol-text-portf {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.portfolio-center {
  padding-top: 96px;
  padding-bottom: 120px;
}
.portfolio-buttons {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.portfolio-button-list {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--cloud-light-color);
  color: var(--pressed-state-color);
  cursor: pointer;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button-list:hover,
.portfolio-button-list:focus {
  color: var(--white-color);
  background-color: var(--primary-brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.img-box {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.portfolio-shadow {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-shadow:hover,
.portfolio-shadow:focus {
  box-shadow: 0px 3px 1px rgba(46, 47, 66, 0.08),
    0px 2px 1px rgba(46, 47, 66, 0.16), 0px 2px 2px rgba(46, 47, 66, 0.08);
}

.size-web {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  background: var(--cloud-light-color);
  border: 1px solid var(--border-bottom);
  border-radius: 4px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.size-app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  background: var(--cloud-light-color);
  border: 1px solid var(--border-bottom);
  border-radius: 4px;
  flex: none;
  order: 2;
  flex-grow: 0;
}
.size-desing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  background: var(--cloud-light-color);
  border: 1px solid var(--border-bottom);
  border-radius: 4px;
  flex: none;
  order: 3;
  flex-grow: 0;
}
.size-marketing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  background: var(--cloud-light-color);
  border: 1px solid var(--border-bottom);
  border-radius: 4px;
  flex: none;
  order: 4;
  flex-grow: 0;
}
.portfolio-cover {
  position: relative;
  overflow: hidden;
}

.portfolio-cover-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  font-weight: 400px;
  color: var(--cloud-light-color);
  background-color: var(--pressed-state-color);
  height: 100%;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-shadow:hover .portfolio-cover-text,
.portfolio-shadow:focus .portfolio-cover-text {
  transform: translate(0);
}
/*--------------section1------*/

.advantages-icons {
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  border-radius: 4px;
  background-color: var(--cloud-light-color);
}

.icon-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-our {
  display: flex;
  gap: 24px;
}

.advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.advantages-text {
  width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
/*--------------section2------*/
.doing-style {
  padding-top: 0;
}
.list-doing {
  display: flex;
  gap: 24px;
}
.we-doing-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-title-color);
}
/*--------------section3------*/
.list-team {
  display: flex;
  gap: 24px;
}
.team-background {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
}
.team {
  background: var(--cloud-light-color);
}
.team-top-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-title-color);
}
.smol-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.title-buttom {
  margin-bottom: 8px;
}
.smol-text-titel {
  padding-top: 32px;
  padding-bottom: 32px;
}
.smol-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin-bottom: 8px;
}
.soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.soc-item {
  width: 40px;
  height: 40px;
}
.soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--pressed-state-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-icon {
  fill: var(--white-color);
}
.soc-link:hover,
.soc-link:focus {
  background-color: var(--primary-brand-color);
}

/*--------------customers--------*/
.customers-heder {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-title-color);
  line-height: 40px;
}
.customers-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.customers-item {
  width: 168px;
  height: 88px;
}
.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid currentColor;
  color: #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-icon {
  fill: currentColor;
}
.customers-link:hover,
.customers-link:focus {
  background-color: var(--pressed-state-color);
  color: #ffffff;
}

/*--------------Fotter--------*/
.footer {
  background: var(--main-title-color);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--pressed-state-color);
}
.footer-color-logo {
  color: var(--cloud-light-color);
}
.footer-text {
  max-width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud-light-color);
  margin-top: 16px;
}
.footer-cont {
  display: flex;
}
.footer-soc {
  margin-left: 120px;
}
.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--pressed-state-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-icon {
  fill: var(--white-color);
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}

.fotter-social {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 16px;
}
.subscribe-wrap {
  margin-left: 80px;
}
.fotter-form {
  display: flex;
}
.footer-input {
  outline: none;
  width: 264px;
  height: 40px;
  color: var(--white-color);
  font-size: 12px;
  font-weight: 400;
  padding-left: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid var(--white-color);
  border-radius: 4px;
  background: transparent;
}
.footer-input::placeholder {
  color: var(--white-color);
  font-size: 12px;
  font-weight: 400;

  padding-top: 8px;
  padding-bottom: 8px;
}
.subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  height: 40px;
  min-width: 165px;
  border-radius: 4px;
  background-color: var(--pressed-state-color);
  padding: 8px 24px 8px 24px;
  margin-left: 24px;
  color: var(--white-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--primary-brand-color);
}

/*-------------backdrob-------------*/
.backdrob {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-grey);
  transition: opacity 250ms linear, visibility 250ms linear;
}
.modal {
  width: 408px;
  height: 576px;
  background-color: var(--background-modal);
  border-radius: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px;
}

.modal-close {
  width: 24px;
  height: 24px;
  border: 1px solid #000000;
  background: var(--border-bottom);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-svg-close {
  fill: currentColor;
}
.modal-close:hover,
.modal-close:focus {
  background: var(--primary-brand-color);
  color: var(--white-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrob.is-hidden.modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--modal-grey);
  border-radius: 4px;
  padding-left: 38px;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border: 1px solid var(--pressed-state-color);
}

.modal-input:focus + .modal-icon {
  fill: var(--pressed-state-color);
}

.modal-field {
  margin-bottom: 8px;
}
.modal-field-accept {
  width: 360px;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.input-text {
  color: var(--input-text);
  display: inline-block;
  font-size: 12px;
  margin-bottom: 4px;
  line-height: 14px;
  letter-spacing: 0.04em;
}
.input-text-accept {
  display: flex;
  color: var(--input-text);
  font-size: 12px;
  align-items: flex-end;
  letter-spacing: 0.04em;
}
.input-text-accept::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid var(--modal-grey);
  border-radius: 2px;
  margin-right: 8px;
}

.modal-icon {
  position: absolute;
  left: 19px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrap {
  position: relative;
}
.input-accept {
  width: 16px;
  height: 16px;
}
.input-accept:checked + .input-text-accept::before {
  border: none;
  background-image: url(../images/click.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.modal-textare {
  width: 360px;
  height: 120px;
  padding-top: 8px;
  padding-left: 16px;
  border: 1px solid var(--modal-grey);
  border-radius: 4px;
  outline: transparent;
  resize: none;
}
.modal-textare::placeholder {
  color: var(--modal-grey);
}
.user-text {
  color: var(--input-text);
  display: inline-block;
  font-size: 12px;
  margin-bottom: 4px;
  line-height: 14px;
  letter-spacing: 0.04em;
}
.modal-link {
  font-size: 12px;
  color: var(--pressed-state-color);
  border-bottom: 1px solid var(--pressed-state-color);
  margin-left: 2px;
  letter-spacing: 4%;
  line-height: 14px;
}

.modal-btn {
  width: 169px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  cursor: pointer;
  background-color: var(--pressed-state-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  padding: 16px 32px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--primary-brand-color);
}
